.orange-bg{
background-color: #fceae8;
border-radius: 10px;
}
.carousel-indicators .active{
background-color: orange;
width: 32px;
height: 5px;
border-radius: 5px;
border-radius: 44%;
transition: .8s;

}
.carousel-indicators li{
background-color: gray;
width: 12px;
height: 5px;
border-radius: 5px;
border-radius: 46%;
}
.buy-now-button{
background-color: black;
padding: 9px 25px;
border: none;
border-radius: 8px;
color: white;
}
.paragraph{
text-align: justify;
width: 60%;
}
.container{
margin-bottom: 100px;
}
.see-all-button{
background-color:white;
cursor: pointer;
padding: 3px, 10px;
border-radius: 8px;
border: none;
color: orange; 
}
.see-all{
    text-decoration: none;
}
a:visited{
    color: orange;
}

.text{
text-align: center;
margin-top: 50px;
}
.description{
margin-top: 20px;
}
.card{
border: none;
border-radius: 10px;
box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
background-color: white;
border-radius: 10px;
border-top: none;
}
.categories{

margin-top: 60px;
}
.categories .row{
margin-top: 40px;
}
.cat-1, .cat-2, .cat-3{
border: none;
background-color:white;
box-shadow: 0px 0px 2px gray;
margin: auto;
border-radius: 5px;
padding: 10px;
}

footer{
text-align: center;
font-family: cursive;
color: black;
font-weight: bold;
}
hr{
    width: 100px;
    height: 10px;
    background-color:orange;
    border-radius: 5px;
}
.categories h3{
    text-align: center;
}

.categories h4{
    text-align: center;
    margin-top: 10px;
}